doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Jadwal
    // Bootstrap
    link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
    script(src='https://code.jquery.com/jquery-2.1.3.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    // Custom CSS
    link(rel='stylesheet', href='style/main.css')
  body#bs-override
    header
      nav.navbar.navbar-expand-md.navbar-light.fixed-top.bg-white
        a.navbar-brand.d-flex.align-content-center(href='/tes')
          img.align-top(src='img/logo-itb-bandung---warna.png', width='40', height='40', alt='')
          p.font-dektm(style='margin-left:15px; margin-top:3px;') DEKTM
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo03', aria-controls='navbarTogglerDemo03', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarTogglerDemo03.collapse.navbar-collapse
          div(style='margin-left:100px;')
          .navbar-nav
            a.title-nav.nav-item.nav-link.active(href='jadwal.html')
              | JADWAL
            a.title-nav.nav-item.nav-link(href='berkas.pug')
              | BERKAS
    main.main-margin
      p.title-medium Good Day, Suharno!
      | #{hasil}
      div(style='margin-top:25px;')
        .card.w-75
          .card-body
            .row
              .col-4
                h5.card-title.title-small Pendaftaran SM ITB
                p.paragraph-muted.d-inline 24 Januari 2019
                p.paragraph-muted.d-inline -
                p.paragraph-muted.d-inline 28 Januari 2019
              .col-8
                p.card-text.paragraph
                  | Calon peserta proses penerimaan mahasiswa baru yang ingin melalui proses seleksi mandiri
                  | dapat mendaftar secara langsung di website resmi proses penerimaan mahasiswa baru ITB dengan mengisikan data diri secara lengkap
                  | untuk kemudian diberikan informasi lebih lanjut melalui email.
        .small-space
        .card.w-75
          .card-body
            .row
              .col-4
                h5.card-title.title-small Pendaftaran SM ITB
                p.paragraph-muted.d-inline 24 Januari 2019
                p.paragraph-muted.d-inline -
                p.paragraph-muted.d-inline 28 Januari 2019
              .col-8
                p.card-text.paragraph
                  | Calon peserta proses penerimaan mahasiswa baru yang ingin melalui proses seleksi mandiri
                  | dapat mendaftar secara langsung di website resmi proses penerimaan mahasiswa baru ITB dengan mengisikan data diri secara lengkap
                  | untuk kemudian diberikan informasi lebih lanjut melalui email.
        .small-space
    footer
