doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Register
    // Bootstrap
    link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
    script(src='https://code.jquery.com/jquery-2.1.3.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    // Custom CSS
    link(rel='stylesheet', href='style/main.css')
  body#bs-override
    header
      nav.navbar.navbar-expand-md.navbar-light.fixed-top.bg-white
        a.navbar-brand.d-flex.align-content-center(href='/')
          img.align-top(src='img/logo-itb-bandung---warna.png', width='40', height='40', alt='')
          p.font-dektm(style='margin-left:15px; margin-top:3px;') DEKTM
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo03', aria-controls='navbarTogglerDemo03', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarTogglerDemo03.collapse.navbar-collapse
          div(style='margin-left:100px;')
          .navbar-nav
            a.title-nav.nav-item.nav-link(href='/jadwal')
              | JADWAL
            a.title-nav.nav-item.nav-link(href='/berkas')
              | BERKAS
              
    main(style='margin-top:100px;')
      p.title-small.text-center  Register.
      .small-space
      form.w-35.mx-auto.d-block(action='/register' method='post', enctype='application/x-www-form-urlencoded')
        .form-group
          label.paragraph(for='inputName') Nama Lengkap
          input#inputName.form-control(name='nama', type='text', placeholder='isi nama lengkap anda')
        .form-group
          label.paragraph(for='inputAlamat') Alamat
          input#inputAlamat.form-control(name='alamat', type='text', placeholder='isi alamat anda')
        .form-group
          label.paragraph(for='inputFakultas') Fakultas
          input#inputFakultas.form-control(name='fakultas', type='text', placeholder='isi fakultas anda')
        .form-group
          label.paragraph(for='inputTL') Tanggal Lahir
          input#inputTL.form-control(name='ttl', type='date', placeholder='isi tanggal lahir anda')
        .form-group
          label.paragraph(for='inputTingkat') Tingkat
          input#inputTingkat.form-control(name='tingkat', type='text', placeholder='isi tingkat anda')
        .form-group
          label.paragraph(for='inputJalur') Jalur
          input#inputJalur.form-control(name='jalur', type='text', placeholder='Jalur Seleksi')
        .form-group
          label.paragraph(for='inputUsername') Username
          input#inputUsername.form-control(name='username', type='text', placeholder='isi username anda')
        .form-group
          label.paragraph(for='inputEmail') Email
          input#inputEmail.form-control(name='email', type='text', placeholder='isi email anda')
        .form-group
          label.paragraph(for='inputName') Password
          input#inputPassword.form-control(name='password', type='password', placeholder='isi password anda')
        .small-space
        button.btn-2.d-block.mx-auto Submit
      .small-space
    footer
