@font-face {
    font-family: "Lato";
    src: url("../fonts/lato/Lato-Regular.ttf")
}

@font-face {
    font-family: "Merriweather";
    src: url("../fonts/merriweather/Merriweather-Regular.ttf")
}

.title{
    font-family: Lato, serif;
    font-size:60px;
}

.title-medium{
    font-family: Lato, serif;
    font-size:40px;
    border-bottom: 5px solid #29bbff;
    width:max-content;
}

.title-small{
     font-family: Lato, serif;
     font-size:30px;
     hyphens : none; !important;
 }

.paragraph{
    font-family: Merriweather, serif;
    font-size:16px;
}

.paragraph-muted{
    font-family: Merriweather, serif;
    font-size:15px;
    color : #757979;
}


.paragraph-big{
    font-family: Merriweather, serif;
    font-size:32px;
}

.font-dektm{
    font-family:"Trebuchet MS", serif;
    font-weight: bold;
    font-size:25px;
}

.title-nav{
    font-family: Lato, serif;
    font-size:25px;
    color: #fff;
    cursor: pointer;
}
.title-nav:hover{
    transition-duration: 0.3s;
    transform: scale(1.05);
}
.landing-page-img{
    width:100%;
    height:100vh;
    object-fit:cover;
    z-index:-1;
}

.space{
     margin-top:100px;
 }

.small-space{
    margin-top:30px;
}

.jbtron{
    margin-left:100px;
    margin-top:-30px;
}

.btn-1{
    border-radius:30px;
    width:150px;
    height:45px;
    background-color:transparent;
    border: 2px solid #fff;
    color: #fff;
    font-family:Merriweather, serif;
    font-weight:bold;
    font-size:18px;
}
.btn-1:hover{
    background-color: white;
    color: black;
    transition-duration: 0.8s;
    transform: scale(1.05);
}
.btn-2{
    border-radius:30px;
    width:150px;
    height:45px;
    background-color:transparent;
    border: 2px solid #006fff;
    color: #0048ff;
    font-family:Merriweather, serif;
    font-weight:bold;
    font-size:18px;
}

.footer-img{
    position:absolute;
    bottom:0;
}

.main-margin{
    margin-left:75px;
    margin-top:100px;
}

.margin-content{
    margin-top:25px;
    margin-left:50px;
}

.verification-detail{
    text-align:right;
    font-family : Lato,serif;
    font-size:16px;
    font-weight:lighter;
}